.product-container {
    border-radius: 10px;
    border: none;
    height: 250px;
    width: 200px;
    background: #fff;
    box-shadow: 3px 3px 3px grey;
    margin-bottom: 20px;
}
.content-container {
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.btnContainer {
    display: flex;
    justify-content: center;
}
.btnContainer button {
    width: 50%;
    margin-right: 3px;
    border-radius: 10px;
    border: none;
    height: 25px;
    background-color: rgb(102, 193, 232, 0.8);
    color: #fff;
}
.btnContainer button:hover{
    background-color: rgb(102, 193, 232, 1);
    cursor: pointer;
    color: #fff;
}
.img-container {
    width: 50px;
    height: 50px;
}

img {
    width: 100%;
}
.title-container {
    display: flex;
}
 p,h2 {
     margin: 0;
 }